.log
{
	Background-color:rgb(72, 72, 175);
	border-radius: 10px;
	width :90px;
	height:30px;
	text-align:center;
	left:70%;
	transform: translate(180%, 10%);
	margin:2px;
    margin-block:5px;
}


.line1
{
	border-left:50px;
	height: 600px;
	position:absolute;
	left:40%;
	top:0;

	padding: 100px;
	
}
.bd
{
	border: 5px solid goldenrod;
	border-radius: 30px;
	padding-left: 10px;
	padding-right: 20px;
	
	

}

.bg
{
	background-image: url("images/GettyImages-1294874384.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

.bgin
{
	background-image:url('images/Inventory3.jpg');
	background-size:cover;
	background-repeat:no-repeat;

}

.in1
{
	position:absolute;
	left:10%;
	top:40%;
	border: 5px solid rgb(5, 51, 91);
	border-radius:15px;
	padding-left:40px;
	padding-right:30px;
	padding-bottom:5%;
	padding-top:30px;
}
.in21
{
	position:absolute;left:60%;top:30%;

	border: 5px solid goldenrod;
	border-radius:15px;
	padding-left:40px;
	padding-right:30px;

}

.in22
{
	position:absolute;left:60%;top:60%;

	border: 5px solid goldenrod;
	border-radius:15px;
	padding-left:40px;
	padding-right:30px;
}


.center
{
	position:absolute;
	top:25%;
	left:40%;
	border: 5px solid rgb(4, 54, 119);
	border-radius: 25px;
	padding-left:10px;
	padding-right:25px;
	padding-bottom: 100px;

}


.body
{
	background:linear-gradient(lightgreen,skyblue);
	background-image:url("images/360_F_244213246_NIicVo7vL04io9y9rN0mABHERYVTF0qT.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;

}

.error{
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;

 }

.by{
	background:linear-gradient(skyblue,red);
}

.Menu
{
	background-color:brown;
	background-size: cover;
}

.Menu1
{
	border: 5px solid burlywood;
	border-radius: 30%;
	padding-left:30px;
	padding-right:30px;
	padding-top:40px;
	padding-bottom:30px;
	position:absolute;
	left:35%;
	top:35%;
}